<p>注文履歴詳細</p>
<p>購入者</p><%= @order.name, admins_customer_path(@order) %>
<p>配送先</p><%=  %>
<p>支払方法</p>
<p>注文ステータス</p>
<br>

<% form_with() do |f| %>
	<table class = "table">
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th>ステータス</th>
				<th colspan="1"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @item.name%></td>
				<td><%= (@item.price * 1.1).floor %></td>
				<td><%= @order.amount %></td>
				<td><%= (@item.price * 1.1).floor * @order.amount %></td>
				<td><%= f.select :making_status, [[""]]%></td>
				<td><%= f.submit '更新' %></td>
			</tr>
		</tbody>
	</table>
<% end %>

<%= f.label :販売ステータス, class: "col-sm-4" %>
<%= f.select :is_active, [["販売中",true] , ["販売停止中",false]], class: "form-control col-sm-8" %>