<div class="container takasa">
  <div class="row">

    <div class="col-xs-9">
      <h2>ジャンル編集</h2><br>

      <!-- ジャンル用form_forで記載する時削除 -->
       <%= form_for(@genre, url:admins_genre_path(@genre)) do |f| %>
        <div class="field row">
          <lavel>ジャンル</lavel>
          <%= f.text_field :name %>
          <!-- ラジオボタンの記述 -->
          <label><%= f.radio_button :is_active, "有効" %> 有効 </label>
          <label><%= f.radio_button :is_active, "無効" %> 無効 </label>
          <%= f.submit "変更を保存する", class: "btn btn-primary" %>
         </div>
      <% end %>
  </div>
</div>