<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2><span class="contents_title">ジャンル編集</span></h2><br>
      <br>
      <div class="field row">
      <!-- ジャンル用form_forで記載する時削除 -->
        <%= form_for(@genre, url:admins_genre_path(@genre)) do |f| %>
          <%= f.label :name, "ジャンル" %>
          <%= f.text_field :name %>
          <%= f.label :name, "有効" %>
          <%= f.radio_button :is_active, :true %>
          <%= f.label :name, "無効" %>
          <%= f.radio_button :is_active, :false %>
          <%= f.submit "変更を保存する", class: "btn btn-primary" %>
         </div>
      <% end %>
    </div>
  </div>
</div>