<p>配送先登録/一覧</p>
<%= form_for(@address) do |f| %>
<p>郵便番号（ハイフンなし）</p> <%= f.text_field :postal_code %>
<p>住所</p> <%= f.text_field :address %>
<p>宛名</p> <%= f.text_field :name %>
<%= f.submit '登録する' %>
<% end %>






