		<!-- genres/indexから　トップページ、商品一覧、商品詳細で呼び出す予定 -->
		<%= render 'genrebox', genres: @genres %>
		<!-- genres/indexから　トップページ、商品一覧、商品詳細で呼び出す予定 -->
<div class="col-sm-9">
	<div class="page-header m-0">
	<h2>
		<% if params[:genre_id] %>
            <%= @genre.name %>一覧
          <% else %>
            商品一覧
          <% end %> <small>(全<%= @items.count %>件)</small></h2>
</div>

<div class="container">
	<div class="col-sm-9">
	<% @items.each do |item| %>
		<div class="col-xs-3 mt-3"> <!--ひとつのブロックをラップしてカラムを指定する-->
			<%= link_to item_path(item) do %><!--それをeach文で回す-->
			<%= attachment_image_tag item, :image, size: "150x150", format: 'jpeg', fallback: "no_image.jpg", class: 'rounded' %>
			<% end %>
			<br>
			<strong class="red-border"><%= link_to item.name, item_path(item) %></strong>
			<br>
			<span class="ml-auto">¥<%= (item.price * 1.1).floor %></span><br>
		</div>
	<% end %>
</div>
</div>
<!-- items#indexのコメントを参考に、ジャンルごとの商品の情報を持ってくる -->