<p>注文履歴詳細</p>
<p>購入者</p><%= @order.name, admins_customer_path(@order) %>
<p>配送先</p><%=  %>
<p>支払方法</p>
<p>注文ステータス</p>
<%= form_for @order do |f| %>
<%= f.select :payment, Order.payments_i18n.invert, {prompt: "---"}, {class: "select__box__format"} %>
<% end %>
<br>


	<table class = "table">
		<thead>
			<tr>
				<th>商品名</th>
				<th>単価（税込）</th>
				<th>数量</th>
				<th>小計</th>
				<th>製作ステータス</th>
				<th colspan="1"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @item.name%></td>
				<td><%= (@item.price * 1.1).floor %></td>
				<td><%= @order.amount %></td>
				<td><%= (@item.price * 1.1).floor * @order.amount %></td>
				<td><%= f.submit '更新' %></td>
			</tr>
		</tbody>
	</table>


