<div class="container my-5">
  <div class="row">
    <div class="customer_head">
      <h2><span class="contents_title">注文履歴詳細</span></h2>
    </div>
  </div>

  <div class="order_customer">
  	<table>
      <tr valign="top">
        <th class="col-xs-2 postal_code">購入者</th>
        <td class="col-xs-10 ">
        <%= link_to ("#{@order.customer.last_name} #{@order.customer.first_name}"), admins_customer_path(@order.customer) %>
        </td>
      </tr>
      <div>
      <tr valign="top">
        <th class="col-xs-2  postal_code_delivary">配送先</th>
        <td class="col-xs-10">〒<%= @order.postal_code %><%= @order.address %><br>
        	<%= @order.name %></td>
      </tr>
      <tr valign="top">
        <th class="col-xs-2 postal_code">支払方法</th>
        <td class="col-xs-10"><%= @order.payment_i18n %></td>
      </tr>
      <tr valign="top">
        <th class="col-xs-2 postal_code">注文ステータス</th>
        <td class="col-xs-10">
            <%= form_for (@order), url: admins_order_path(@order) do |f| %>
            <%= f.select :status, [["入金待ち", "入金待ち"], ["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]], class: "form-control" %>
            <%= f.submit "更新", class: "btn btn-primary btn-sm" %>
            <% end %>
        </td>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="col align-self-start">
    <div class="col-xs-7">
      <table class ="table">
    		<thead class="contents_title">
    			<tr>
    				<th>商品名</th>
    				<th>単価（税込）</th>
    				<th>数量</th>
    				<th>小計</th>
    				<th>製作ステータス</th>
    			</tr>
    		</thead>
    		<tbody>
          <% @order_details.each do |order|%>
          <tr>
            <th><%= order.item.name %></th>
            <th><%= (order.item.price * 1.1).floor %></th>
            <th><%= order.amount %></th>
            <th><%= ((order.item.price * order.amount) * 1.1).floor %></th>
            <th>
              <div class="row">
                <div class="col-sm-3">
                  <%= form_for (order), url: admins_order_detail_path(order) do |f| %>
                  <%= f.select :making_status, [["製作不可", "製作不可"], ["製作待ち","製作待ち"],["製作中","製作中"],["製作完了","製作完了"]], class: "form-control" %>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                  <%= f.submit "更新", class: "btn btn-primary btn-sm" %>
                </div>
                  <% end %>
              </div>
            </th>
          </tr>
          <% end %>
    		</tbody>
    	</table>
    </div>
    </div>
    <div class="col align-self-end">
      <div class="col-xs-4 col-xs-offset-1">
        <% @order_details.each do |order|%>
        <br>
        <br>
        <% end %>
      <div class="order_customer">
        <table class="col-xs-9">
            <tr>
              <th class="col-xs-7">商品合計</th>
              <td class="col-xs-5 text-right"><%= @order.total_price %>円</td>
            </tr>
            <tr>
              <th class="col-xs-7">送料</th>
              <td class="col-xs-5 text-right">800円</td>
            </tr>
            <tr>
              <th class="col-xs-7">請求金額合計</th>
              <td class="col-xs-5 text-right"><%= @order.total_price + 800 %>円</td>
            </tr>
        </table>
      </div>
      </div>
  </div>
</div>
















